<div class="row">
    <div class="col-md-8 col-md-offset-2">         
        <div class="well">
          <h4>{{acc.name}}</h4><hr>
          <h4>{{acc.status}}</h4>
        <button type="button" class="btn btn-primary" (click)="setTo('active')">set to active</button>
        <button type="button" class="btn btn-primary" (click)="setTo('inactive')">set to inactive</button>
        <button type="button" class="btn btn-primary" (click)="setTo('unknown')">set to unknown</button>
      </div>
   </div>   
 </div>      



